<section class="relative h-[75vh]">
  <div class="sticky top-24 max-w-xl mx-auto p-8
    rounded-2xl
    bg-black/20 backdrop-blur-xl backdrop-saturate-150 bg-clip-padding
    border border-white/30 shadow-2xl
    transition-transform hover:scale-[1.02]">
  <div class="space-y-4 text-gray-100">
    <h2 class="text-center text-3xl font-semibold text-gray-100">
      {{ title }}
    </h2>
    <p class="text-left text-lg">
      {{ description }}
    </p>
    {% block content %}
    {% endblock %}
    <div class="text-center">
      {% block cta %}
      {% endblock %}
    </div>

  </div>
  </div>
</section>
